[Desktop Entry]
Version=1.0
Type=Application
Name=TDMGR Stop
Comment=Stopping Docker Container
Exec=docker-compose down
Icon=/opt/TDMDock/TDMGR.png
Path=/opt/TDMDock
Terminal=true
StartupNotify=false
