[Desktop Entry]
Version=1.0
Type=Application
Name=TDMGR Start
Comment=Starting Docker Container
Exec=docker-compose up
Icon=/opt/TDMDock/TDMGR.png
Path=/opt/TDMDock
Terminal=true
StartupNotify=false
